PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/afet-koordinasyon

JWT_SECRET=SYU/4iNTmK+7N7JSsD76Hp6dAzkkXF5EY6C84gakdMlCtDyLeNUz8xkXc+38a2U43PrZs18ZBXycEZNFYgmxMQ==
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000
CORS_METHODS=GET,POST,PUT,DELETE
CORS_CREDENTIALS=true
CORS_HEADERS=Content-Type,Authorization
CORS_MAX_AGE=3600


# Email (SMTP)
SMTP_HOST=brevo-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=kosesevban@gmail.com

# Brevo (Email) - sadece SMTP_HOST=brevo-relay.brevo.com ise gerekli
BREVO_API_KEY=your-brevo-smtp-key